Language: C
BasedOnStyle: Google
IndentWidth: 4
UseTab: Always
PointerAlignment: Left
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
DerivePointerBinding: false
AlignAfterOpenBracket: true
AlignTrailingComments: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterEnum: true
  AfterStruct: true
  AfterFunction: true
  BeforeElse: true
BreakAdjacentStringLiterals: true
